* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: "Helvetica", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
    font-display: swap;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.container-fluid {
    /* width: 100%; */
    max-width: 1140px;
    margin: 0 auto;
}
.text-center {
    margin: 0 auto;
    text-align: center;
}
.img-fluid {
    height: auto;
    max-width: 100%;
}
.text-center {
    text-align: center;
}
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.row {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* menu  */
#header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#header .bar {
    display: none;
}

#header .menu {
    display: flex;
    margin-bottom: 0;
}
#header .menu .item {
    padding: 10px 20px;
    list-style: none;
    position: relative;
}
#header .menu .item a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
#header .menu .item a:hover {
    /* font-weight: bold; */
    color: #0080D1;
}
#header .menu .item .sub-item {
    display: none;
}
#header .menu .item:hover .sub-item {
    display: block;
    position: absolute;
    left: 20px;
    /* top: 40px; */
    webkit-box-shadow: 0px 0px 40px -10px rgb(0 0 0 / 90%);
    -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 40px -10px rgb(0 0 0 / 90%);
    background-color: white;
    width: 200px;
    border-radius: 5px;
    z-index: 10;
}
#header .menu .item .sub-item .item {
    padding: 15px;
    border-bottom: 1px solid #e9e9ed;
}
#header .menu .item .sub-item .item:last-child {
    border-bottom: none;
}
/* end menu */

/* slide */
#slide {
    position: relative;
    width: 100%;
    z-index: 9;
}
#slide .btn {
    padding: 10px 30px;
    background-color:#fff;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border: none;
    transform: translate(-50%, -50%);
    color: #0080D1;
    letter-spacing: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 0;
}
#slide .btn:hover {
    color: #fff;
    background-color: #0080D1;
}
#slide .txt {
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 35%;
    border: none;
    transform: translate(-50%, -50%);
   
}
#slide .txt span {
    font-size: 1.8rem;
}
#slide .book {
    max-width: 300px;
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%, -50%);
}

/* end slide */

.section-info {
    background-color: #00ABDE;
    margin-top: -4px;
}
.section-info .info {
    padding: 130px 10px 60px 10px;
    text-align: center;
}
.section-info .info p {
    color: #fff;
}
.section-info .info .label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}
.section-info .info-detail {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px 60px 120px;
}

.section-info .info-detail .box {
    border: 1px solid #fff;
    padding: 15px 40px;
    color: #fff;
    width: 230px;
}
.section-info .info-detail .box .head {
    margin-bottom: 15px;
    position: relative;
    text-align: left;
    /* padding-right: 34px; */
}
.section-info .info-detail .box .head img {
    position: absolute;
    top: 5px;
}
.section-info .info-detail .box .head label {
    font-size: 2rem;
    padding-left: 45px;
}
.section-info .info-detail .box ul li {
    padding: 4px 0;
}

.q1 {
    display: flex;
    justify-content: space-between;
}
.q1 .left {
    flex:0 60%;
    text-align: center;
}
.q1 .right {
    flex:0 40%;
 }

.q1 .left {
    padding: 150px 120px;
}
.q1 .left .question {
    font-size: 1.5rem;
    color: #0080D2;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}
.q1 .left .answer {
    text-align: justify;
   line-height: 30px;
}

.youtube {
    text-align: center;
}
.youtube p {
    margin-top: 60px;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}
.youtube > div {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.youtube > div > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    /* margin-left: 16.666667%; */
}

.q2 {
    margin-top: 60px;
    display: flex;
    background-color: #00ABDE;
    padding: 60px 30px;
}
.q2 .left {
    flex:0 40%;
    text-align: center;
    padding-right: 15px;
}
.q2 .right {
    flex:0 60%;
 }
.q2 .right {
    padding: 90px 120px 90px 0;
}
.q2 .right .question {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
.q2 .right .answer {
    color: #fff;
    text-align: justify;
    line-height: 30px;
}

.q3 {
    margin-top: 60px;
    display: flex;
    padding: 0 30px;
    margin-bottom: 180px;
}
.q3 .left, .q3 .right {
   flex:0 50%;
}
.q3 .left .question {
    font-size: 1.5rem;
    color: #0080D2;
    margin-bottom: 20px;
    font-weight: bold;
}
.q3 .left .answer {
    line-height: 30px;
}
.q3 .right {
    position: relative;
}
.q3 .right img {
    position: absolute;
    top: -100%;
    right: 10%;
}

.q4 {
    background: url('../images/q4.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 60px 180px;
}

.q4 .left .question {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
.q4 .left .answer {
    color: #fff;
    text-align: justify;
    padding: 0 60px;
    line-height: 30px;
}
.q4 .right {
    margin-top: 30px;
    background-color: #fff;
    padding: 30px;
}
.q4 .right .q4-box {
    display: flex;
    margin-bottom: 30px;
}
.q4 .right .q4-box:last-child {
    margin-bottom: 0;
}
.q4 .right .q4-box .age {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: #00ABDE;
    color: #fff;
    padding: 23px 0;
    flex: 0 96px;
}
.q4 .right .q4-box .age > span {
    font-size: 2.5rem;
}
.q4 .right .q4-box .age-detail {
    text-align: left;
    padding-left: 30px;
    flex: 0 calc(100% - 96px);
}
.q4 .right .q4-box .age-detail .title {
    font-size: 1.5rem;
    color: #00ABDE;
    font-weight: normal;
}
.q4 .right .q4-box .age-detail .des {
    margin: 4px 0 8px 0;
}
.q4 .right .q4-box .age-detail .tag {
    background-color: #F2F2F2;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
}
.youtubes {
    padding: 90px 50px;
    background: url('../images/bg-youtube.png');
    background-size: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top right;
}
.youtubes h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.youtubes .list-youtube {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.youtubes .list-youtube .box-youtube {
    flex: 0 0 33.33333%;
    padding: 0 5px;
}
.youtubes .list-youtube .box-youtube h5 {
    margin: 10px 0 30px 0;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.q5 {
    background-color: #353349;
    display: flex;
}
.q5 .left {
    flex: 0 30%;
 }
 .q5 .right {
     flex: 0 70%;
     padding: 60px 150px 30px 0;
 }
 .q5 .right .question {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
   
 }
 .q5 .right .question span {
    font-size: 1.5rem;
    padding-bottom: 8px;
    border-bottom: 3px solid #fff;
    font-weight: bold;
 }
 .q5 .right .answer {
     margin-top: 30px;
    color: #fff;
    text-align: justify;
    line-height: 30px;
 }
 .q5 .right .percent {
     display: flex;
     justify-content: space-around;
     margin-top: 30px;
 }
 .q5 .right .percent-67 {
    background: url('../images/67.png');
    background-size: cover;
    width: 150px;
    height: 150px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
 }

 .q5 .right .percent-90 {
    background: url('../images/90.png');
    background-size: cover;
    width: 150px;
    height: 150px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
 }

 .q5 .right .percent-50 {
    background: url('../images/50.png');
    background-size: cover;
    width: 150px;
    height: 150px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
 }
 .q5 .right .percent-item {
     padding: 45px 0;
 }
 .q5 .right .percent-item > span {
     display: block;
 }
 .q5 .right .percent-item > span:last-child {
     font-size: 2rem;
 }

 .q6 {
     padding: 60px;
 }
 .q6 .left {
     padding: 60px;
 }
 .q6 .left .question {
    font-size: 1.5rem;
    color: #0080D2;
    margin-bottom: 20px;
    font-weight: bold;
}
.q6 .left .answer {
    color: #000;
    text-align: justify;
    line-height: 30px;
}
.q6 .right {
    display: flex;
    justify-content: space-between;
}
.q6 .right .box {
    padding: 0 5px;
}
.q6 .right .box .box-foot1 {
    margin-top: -4px;
    height: 80px;
    padding: 15px 5px 5px 5px;
    text-align:center;
    color: #fff;
    background-color: #0080D1;
}
.q6 .right .box .box-foot2 {
    margin-top: -4px;
    text-align:center;
    color: #fff;
    background-color: #D89F0E;
    height: 80px;
    padding: 15px 5px 5px 5px;
}
.q6 .right .box .box-foot3 {
    margin-top: -4px;
    text-align:center;
    color: #fff;
    background-color: #CB5261;
    height: 80px;
    padding: 5px;
}

.q7 {
    padding: 90px 50px 30px 50px;
    background: url('../images/q7.png');
    background-size: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top left;
}
.q7 .left {
    padding: 30px 120px;
}
.q7 .left .question {
    font-size: 1.5rem;
    color: #0080D2;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}
.q7 .left .answer {
    color: #000;
    text-align: justify;
}


.feedback  {
    padding: 90px;
}
.feedback h3 {
    text-align: center;
    color: #0080D2;
    font-weight: normal;
    margin-bottom: 60px;
}
.feedback h3 span {
    padding: 15px 30px;
    font-size: 2rem;
    border-top: 2px solid #0080D2;
    border-bottom: 2px solid #0080D2;
    font-weight: bold;
}

.feedback .box {
    position: relative;
    margin-bottom: 60px;
}

.feedback .box .label {
    text-align: center;
   
    margin-bottom: 10px;
    position: relative;
}
.feedback .box .label img {
    position: absolute;
    top: 0px;
}
.feedback .box .label span {
    padding-left: 65px;
    font-size: 2.5rem;
    color: #0080D2;
}
.feedback .box .label span.span-baby {
    padding-left: 85px;
}
.feedback .box .box-head {
    display: flex;
}
.feedback .box .box-head .baby {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 50px;
}

.feedback .box .box-body {
    padding: 60px 60px 30px 60px;
    border-radius: 15px;
    background: #B4CDFF;
}
.feedback .box .box-body .box-item {
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    position: relative;
    line-height: 30px;
}
.feedback .box .box-body .box-item .arrow {
    position: absolute;
    top: 20px;
    left: -17px;
}

.q8 {
    padding: 30px 50px 60px 50px;
    background: url('../images/point-bg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.q8 .left .question {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.q8 .right {
    margin: 0 180px;
    padding: 50px 30px;
    background: #fff;
    border-radius: 15px;
}
.q8 .right .point-item {
    display: flex;
    margin-bottom: 20px;
}
.q8 .right .point-item .point-left {
    position: relative;
    flex: 0 90px;
}
.q8 .right .point-item .point-left img {
    width: 100px;
    height: 20px;
}
.q8 .right .point-item .point-left span {
    position: absolute;
    top: -8px;
    font-size: 1.1rem;
    padding-left: 5px;
    color: #0080D1;
    text-transform: uppercase;
    font-weight: bold;
}
.q8 .right .point-item .point-right {
    padding-left: 30px;
    flex: 0 calc(100% - 90px);
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
}
.q8 .right .point-item:last-child {
    margin-bottom: 0;
}

.q9 {
    padding: 90px;
}
.q9 .left .question {
    font-size: 1.5rem;
    color: #0080D1;
    text-align: center;
    font-weight: bold;
}
.q9 .left .note {
    text-align: center;
    margin-bottom: 20px;
}
.q9 .right {
    padding: 30px 120px;
}
.q9 .right .q9-box {
    margin-bottom: 30px;
}
.q9 .right .q9-box .head {
    font-size: 1.4rem;
    color: #F255A3;
}
.q9 .right .q9-box ul {
    padding-left: 15px;
}
.q9 .line {
    margin: 0 120px 0 120px;
    border: 2px solid #5AD613;
    text-align: center;
    padding: 15px;
}
.q9 .line p {
    margin-bottom: 10px;
}
.q9 .line img {
    max-width: 400px;
}

.q10 {
    padding: 0 90px;
}
.q10 .left {
    padding: 0 120px;
}
.q10 .left .question {
    font-size: 1.5rem;
    color: #E70773;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}
.q10 .left .answer {
    text-align: center;
    margin-bottom: 60px;
}
.q10 .left .answer .answer-item {
    margin: 0 220px 30px 220px;
    text-align: left;
}
.q10 .left .answer .answer-item .head {
    font-size: 1.4rem;
}
.q10 .left .answer .answer-item .price, .q10 .left .answer .answer-item .price-discount {
    color: #A4A4A1;
}
.q10 .left .answer .answer-item .price span {
    text-decoration: line-through;
}
.q10 .left .answer .answer-item .price-discount span {
    font-size: 2rem;
    background: -webkit-linear-gradient(left, #F255A3 , #E70773);
    background: -o-linear-gradient(right, #F255A3, #E70773);
    background: -moz-linear-gradient(right, #F255A3, #E70773);
    background: linear-gradient(to right, #F255A3 , #E70773); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.q10 .left .free-tw {
    border: 2px solid #E70773;
    position: relative;
    /* padding: 30px; */
    text-align: center;
}

.q10 .left .free-tw .label {
    font-size: 1.4rem;
    position: absolute;
    background-color: #fff;
    padding: 0 50px;
    transform: translate(-50%, -50%);
    width: 350px;
    left: 50%;
    top: 0;
    color: #E70773;
    /* background: -webkit-linear-gradient(left, #F255A3 , #E70773);
    background: -o-linear-gradient(right, #F255A3, #E70773);
    background: -moz-linear-gradient(right, #F255A3, #E70773);
    background: linear-gradient(to right, #F255A3 , #E70773); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.q10 .left .free-tw  > div:last-child {
    padding: 30px;
}
.q10 .left .free-tw .note {
    color: #A4A4A1;
}
.q10 .left .free-tw .box {
    margin: 15px 150px 0 150px;
    
}
.q10 .left .free-tw .box-item {
    display: flex;
    margin-bottom: 15px;
}
.q10 .left .free-tw .box-item:last-child {
    margin-bottom: 0;
}
.q10 .left .free-tw .box-item > div:first-child {
    flex: 0 150px;
    padding-top: 8px;
    text-align: left;
}
.q10 .left .free-tw .box-item > div:last-child {
    flex: 0 calc(100% - 150px);
    font-size: 2rem;
    text-align: left;
    /* color: #E70773; */
    /* padding-left: 30px; */
    text-align:left;
    background: -webkit-linear-gradient(left, #F255A3 , #E70773);
    background: -o-linear-gradient(right, #F255A3, #E70773);
    background: -moz-linear-gradient(right, #F255A3, #E70773);
    background: linear-gradient(to right, #F255A3 , #E70773); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.q10 .left .btn {
    margin: 30px 15px ;
    border: 2px solid #E70773;
    color: #E70773;
    padding: 6px 40px;
    background: #fff;
    text-align: center;
    cursor: pointer;
}
.q10 .left .btn:hover {
    color: #fff;
    background: #E70773;
}
.hr {
    background: #F1549D;
    opacity: 0.5;
    height: 15px;
    border-color: #F1549D;
    margin-top: 30px;
    border-width: 0;
}


.talk {
    padding: 90px;
}
.talk-second {
    background: #E4E9ED;
}
.talk .label {
    background: #7FB26C;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    margin: 0 200px;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.talk .blue {
    background: #008FE2;
}

.talk .talk-boxs {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.talk .talk-boxs .talk-box-item {
    flex: 0 25%;
    padding: 5px;
    margin-bottom: 15px;
   
}
.talk .talk-boxs .talk-box-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.talk .talk-boxs .talk-box-item a {
    text-decoration: none;
}
.talk .talk-boxs .talk-box-item h3 {
    margin-top: 5px;
    font-size: 14px;
    color: #FF4180;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: normal;
}
.talk-second .talk-boxs .talk-box-item h3 {
    color: #008FE2;
    font-weight: normal;
}


.step {
    margin-top: 10px;
    padding: 90px 50px 30px 50px;
    background: url('../images/bg-step.png');
    background-size: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.step .head {
    font-size:1.5rem;
    color: #0080D2;
    font-weight: bold;
}
.step .step-content {
    padding-top: 30px;
    text-align: center;
}
.step .step-content .step1 {
    /* max-width: 300px; */
}
.step .step-content .steps {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.step .step-content .steps .step-item {
    width: 120px;
    height: 120px;
    background-color: #0080D1;
    color: #fff;
    padding: 20px 10px;
}
.step .step-content .steps .arrow {
    position: relative;
    padding: 43px 9px 43px 10px;
}
.step .step-content .steps .arrow img {
    max-width: 15px;
}
.step .step-content .steps .step-item p:first-child {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: normal;
}
.step .step-youtube {
    margin-top: 60px;
    text-align: center;
}
.step .step-youtube span {
    font-size: 1.5rem;
    border-bottom: 5px solid #CC8094;
    padding-bottom: 10px;
    color: #CC8094;
    font-weight: bold;
}

.step .list-youtube {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 60px 120px 0 120px;
}
.step .list-youtube .box-youtube {
    flex: 0 100%;
    /* padding: 0 5px; */
}
.step .step-smt {
    display: none;
}

.qa {
    padding: 60px 90px;
}
.qa .head {
    text-align: center;
    margin-bottom: 30px;
}
.qa .head p {
    font-size: 1.5rem;
    color: #008FE2;
    font-weight: bold;
}
.qa .head p:last-child {
    font-size: 1rem;
}
.qa .list-qa {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.qa .list-qa .qa-item {
    flex: 0 50%;
    padding: 0 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.qa .list-qa .qa-item .qa-head {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: #E3E5EA;
    border-radius: 10px;
    cursor: pointer;
    color: #008FE2;
    height: 68px;
}
.qa .list-qa .qa-item .qa-head p {
    flex: 0 calc(100% - 25px);
    line-height: 48px;
}
.qa .list-qa .qa-item .qa-head p.length {
    line-height: inherit;
}
.qa .list-qa .qa-item .qa-head img {
    flex: 0 25px;
    padding-top: 20px;
}

.qa .list-qa .qa-item .qa-content {
    display: none;
    padding: 30px 15px;
    background: #E3E5EA;
    border-top: 1px solid #b9b2b2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.consultation {
    text-align: center;
}
.consultation button {
    margin-top: 30px;
    margin-bottom: 150px;
    padding: 10px 50px;
    color: #008FE2;
    border-radius: 0;
    background-color: #fff;
    border: 2px solid #008FE2;
}
.consultation button:hover {
    color: #fff;
    background-color: #008FE2;
}

.footer {
    text-align: center;
}
.footer p.mail a {
    color: #000;
    text-decoration: none;
}
.footer p.working-time {
    margin-bottom: 15px;
    margin-top: 5px;
}
.footer img {
    max-width: 300px;
}
.footer p.copyright {
   margin-top: 15px; 
}
.footer .img-footer {
    margin: 30px 0;
}

@media (max-width: 1100px) {
    #slide .txt span {
        font-size: 1.5rem;
    }
    .q1 .left {
        padding: 120px;
    }
    .q4 {
        padding: 60px 120px;
    }
    .q5 .left {
        flex: 0 35%;
    }
    .q5 .right {
        flex: 0 65%;
    }

    .q10 .left .answer .answer-item {
        margin: 0 150px 30px 150px;
    }
    .q10 .left .free-tw .box {
        margin: 15px 90px 0 90px;
    }
   
    .q8 .right {
        margin: 0 120px;
    }
    .qa {
        padding: 60px;
    }
}

@media (max-width: 991px) {
    #header {
        padding: 5px 15px;
    }
    #header .menu .item {
        padding: 10px;
    }
    #slide .book {
        max-width: 250px;
    }
    .section-info .info-detail {
        padding: 0 60px 60px 60px;
    }
    .q1 .left {
        padding: 90px;
    }
    .q2 .right {
        padding: 50px 0px 30px 0;
    }
    .q3 .left {
        padding-right: 30px;
    }
    .q3 .right img {
        top: -90%;
        right: 0;
    }
    .q5 .right .percent {
        margin-top: 30px;
    }
    .q5 .right {
        padding: 30px 60px 30px 0;
    }
    .q6 {
        padding: 60px;
    }
    .q7 {
        padding: 30px 50px 30px 50px;
    }
    .q8 .right {
        margin: 0 60px;
    }
    .q9 .right {
        padding: 30px 60px;
    }
    .q9 .line {
        margin: 0 60px 0 60px;
    }
    
    .q10 .left {
        padding: 0 60px;
    }
    .q10 .left .answer .answer-item {
        margin: 0 120px 30px 120px;
    }
    .talk .label {
        margin: 0 90px 30px 90px;
    }
    .talk {
        padding: 60px;
    }
    .step .list-youtube {
        padding: 30px 60px 0 60px;
    }
    .qa {
        padding: 30px;
    }
    .q10 .left .free-tw .box {
        margin: 15px 60px 0 60px;
    }

}

@media (max-width: 870px) {
    #header .menu .item {
        padding: 10px 5px;
    }
    #slide .txt span {
        bottom: 35%;
        /* width: 410px; */
        font-size: 1.4rem;
    }
    #slide .book {
        bottom: -55%;
    }
    #slide .txt {
        display: flex;
        flex-direction: column;
        text-align: center;
        bottom: 28%;
    }
    .section-info .info {
        padding: 90px 10px 60px 10px;
    }
    .q1 .left {
        padding: 60px 30px;
    }
    .q2 .right {
        padding: 30px 0px 30px 0;
    }
    .q3 {
        margin-bottom: 120px;
    }
    .q3 .left {
        padding-right: 15px;
    } 
    .q3 .right img {
        top: -45%;
    }
    .q4 {
        padding: 60px;
    }
    .youtubes {
        padding: 60px 30px;
    }
    .q5 .right {
        padding: 30px 30px 30px 0;
    }
    .q6 {
        padding: 30px;
    }
    .q7 {
        padding: 30px;
    }
    .q8 .right {
        margin: 0 30px;
    }
    .talk {
        padding: 60px;
    }
    .qa .list-qa {
        flex-direction: column;
    }
    .qa .list-qa .qa-item .qa-head p.length {
        line-height: 48px;
    }
    .q10 .left .free-tw .box {
        margin: 15px 15px 0 15px;
    }
    .step .list-youtube {
        padding: 30px 30px 0 30px;
    }
}

/* mobile */
@media (max-width: 768px) {
    #header .bar {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 20px;
        height: 40px;
        line-height: 40px;
        background-color: #fff;
        border: none;
        margin-top: 6px;
    }
    #header .bar span {
        width: 30px;
        height: 1px;
        background: #000000;
        border: 1px solid #000000;
        margin-bottom: 8px;
        display: block;
    }
    #header .close {
        font-size: 3rem;
        margin-top: 0;
    }
    #header .menu {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        top: 53px;
        z-index: 12;
        background: #fff;
    }
    #header .menu .item {
        padding: 10px 30px;
    }
    #slide .btn {
        padding: 5px 30px;
    }
    
    #slide .book {
        bottom: -50%;
        max-width: 300px;
    }
    .section-info .info {
        padding: 240px 10px 0 10px;
    }
    .section-info .info-detail {
        flex-direction: column;
        padding: 60px 90px;
    }
    .section-info .info-detail .box {
        width: 230px;
        margin: 0 auto 30px auto;
    }
    
    .youtube p {
        margin-top: 30px;
        font-size: 1.2rem;
    }
    .q1 .left .question {
        font-size: 1.2rem;
    }
    .q1 .left {
        padding: 120px 30px;
        flex: 0 65%;
    }
    .q1 .right {
        flex: 0 35%;
        text-align: right;
        height: 280px;
    }
    .q1 .right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .q2 {
        padding: 30px 0;
        margin-top: 30px;
    }
    .q2 .left {
        flex: 0 35%;
        text-align: left;
        height: 280px;
    }
    .q2 .left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .q2 .right {
        flex: 0 65%;
        padding: 60px 30px 30px 0;
    }
    .q2 .right .question {
        font-size: 1.2rem;
    }
    .q3 {
        margin: 30px 0;
        padding: 0;
    }
    .q3 .left {
        flex: 0 65%;
        padding: 60px 30px;
    }
    .q3 .left .question {
        font-size: 1.2rem;
    }
   
    .q3 .right {
        flex: 0 35%;
        text-align: right;
        height: 280px
    }
    .q3 .right img {
        position: inherit;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .q4 {
        padding: 30px;
    }
    .q4 .left .question {
        font-size: 1.2rem;
    }
    .q4 .right {
        padding: 30px 15px;
        min-height: auto;
    }
    .q4 .right .q4-box {
        margin-bottom: 30px;
    }
    .q4 .right .q4-box .age {
        width: 60px;
        height: 60px;
        padding: 12px 0;
        flex: 0 60px;
    }
    .q4 .right .q4-box .age > span {
        font-size: 2rem;
    }
    .q4 .right .q4-box .age-detail {
        padding-left: 15px;
        flex: 0 calc(100% - 60px);
    }
    .q4 .right .q4-box .age-detail .title {
        font-size: 1.2rem;
    }
    .q4 .right .q4-box .age-detail .des {
        margin: 4px 0 4px 0;
        font-size: 14px;
    }
    .q4 .right .q4-box .age-detail .tag {
        font-size: 12px;
    }
    .q5 {
        flex-direction: column;
        position: relative;
    }
    .q5 .left img {
        max-width: 250px;
        padding: 0 0 180px 0;
    }
    .q5 .left, .q5 .right {
        flex: 0 100%;
    }
    .q5 .right .percent-67, .q5 .right .percent-90, .q5 .right .percent-50 {
        width: 80px;
        height: 80px;
        padding: 15px 0;
    }
    .q5 .right .percent-item > span:last-child {
        font-size: 1.2rem
    }
    .q5 .right {
        padding: 90px 30px;
        position: absolute;
    }
    .q5 .right .question {
        text-align: right;
        font-size: 1.2rem;
    }
    .q5 .right .question span {
        font-size: 1.2rem;
    }
    .q6 .left {
        padding: 30px;
    }
    .q6 .left .question {
        font-size: 1.2rem;
    }
    .q6 .right .box .box-foot1 p, .q6 .right .box .box-foot2 p, .q6 .right .box .box-foot3 p {
        font-size: 14px;
    }
    .q7 .left {
        padding: 30px 60px;
    }
    .q7 .left .question {
        font-size: 1.2rem;
    }
    .feedback {
        padding: 60px 30px 0 30px;
    }
    .feedback h3 {
        margin-bottom: 60px;
    }
    .feedback h3 span {
        font-size: 1.2rem;
        padding: 15px 30px;
    }
    .feedback .box .box-head .baby {
        width: 100px;
        height: 100px;
        top: 10px;
        left: 30px;
    }
    .feedback .box .label span {
        font-size: 2rem;
        padding-left: 50px;
    }
    .feedback .box .label span.span-baby {
        padding-left: 50px;
    }
    .feedback .box .label img {
        max-width: 45px;
       
    }
    .youtubes {
        padding: 30px;
    }
    .feedback .box .box-body {
        padding: 30px;
    }
  
    .youtubes h3 {
        font-size: 1.2rem;
    }
    .youtubes .list-youtube .box-youtube {
        flex: 0 50%;
        max-width: 50%;
    }
    .q8 {
        padding: 30px;
        background-size: cover;
    }
    .q8 .left .question {
        padding-top: 15px;
        font-size: 1.2rem;
    }
    .q8 .right {
        padding: 30px;
        margin: 0;
    }
    .q9 {
        padding: 60px 30px;
    }
    .q9 .line {
        margin: 0;
    }
    .q9 .right {
        padding: 30px 0px;
    }
    .q9 .left .question {
        font-size: 1.2rem;
    }
    .q9 .left .note {
        font-size: 14px;
    }
    .q9 .right .q9-box .head {
        font-size: 1.2rem;
    }
    .q9 .right .q9-box ul li {
        font-size: 14px;
    }
    .q9 .right {
        padding-top: 0;
        padding-bottom: 0;
    }
    .q10 .left .question {
        font-size: 1.2rem;
    }
    .q10 .left .answer .answer-item .head {
        font-size: 1.2rem;
    }
    .q10 .left .answer .answer-item .price, .q10 .left .answer .answer-item .price-discount {
        font-size: 14px;
    }
    .q10 .left .answer .answer-item .price-discount span, .q10 .left .free-tw .box-item > div:last-child {
        font-size: 1.4rem;
    }
    .q10 .left {
        padding: 0 30px;
    }
    .q10 .left .free-tw .label {
        font-size: 1.2rem;
        width: 320px;
    }

    .q10 .left .answer .answer-item {
        margin: 0 60px 30px 60px;
    }
    .q10 .left .free-tw .note {
        font-size: 14px;
    }
    .talk .label {
        font-size: 1.2rem;
    }
    .talk {
        padding: 60px 30px;
    }
    .talk .talk-boxs .talk-box-item {
        flex: 0 50%;
        max-width: 50%;
    }
    .step {
        background-size: cover;
        padding: 60px 50px 0 50px;
    }
    .step .step-content .steps {
        flex-direction: column;
    }
    .step .step-content .steps .step-item {
        width: 100%;
    }
    .step .step-content .steps .arrow img {
        max-width: 80px;
    }
    .step .step-content .steps .arrow {
        padding: 15px 9px 10px 10px;
    }
    .step .list-youtube {
        padding: 30px 0;
    }
    .step .head, .step .step-youtube span {
        font-size: 1.2rem;
    }
    .step .step-content .steps .step-item p:not(:first-child) {
        font-size: 14px;
    }
    .step .step-smt {
        display: block;
      
    }
    .step .step-smt p {
        font-size: 1.7rem;
        margin-top: 15px;
    }
    .step .step-smt .arrow {
        padding: 15px 9px 0 10px;
        margin: 0 auto;
       
    }
    .step .step-smt .arrow img {
        max-width: 80px;
      
    }
    .qa {
        padding: 30px 15px;
    }
    .qa .head p {
        font-size: 1.2rem;
    }
    .qa .head p:last-child {
        font-size: 14px;
    }
    .qa .list-qa .qa-item .qa-head p, .qa .list-qa .qa-item .qa-content {
        font-size: 14px;
    }
    /* .qa .list-qa .qa-item .qa-head p.length {
        line-height: inherit;
    }
    .qa .list-qa .qa-item .qa-head p {
        line-height: inherit;
    } */
    .qa .list-qa .qa-item {
        margin-bottom: 15px;
    }
    .qa .list-qa .qa-item:last-child {
        margin-bottom: 0;
    }
    
}

@media (max-width: 576px) {

    #slide .book {
        bottom: -65%;
    }
    #slide .txt {
        bottom: 22%;
    }
    .section-info .info {
        padding: 220px 10px 0 10px;
    }
    .q1 .left {
        padding: 90px 30px;
    }
    .q9 {
        padding: 60px 15px;
    }
    .q9 .line img {
        max-width: 100%;
    }
    .youtube > div {
        margin: 0 30px;
    }
    .youtube > div > div {
        flex: 0 0 100%;
        max-width:  100%;
    }
    .q3 .left {
        padding: 30px;
    }
    .q4 .right .q4-box .age-detail .tag {
        background-color: #fff;
        padding: 0;
    }
    .q6 {
        padding: 30px 15px;
    }
    .q6 .right .box:nth-child(2) {
        display: none;
    }
    .q6 .right .box .box-foot1, .q6 .right .box .box-foot2, .q6 .right .box .box-foot3 {
        height: 60px;
    }
    
    .q6 .right .box .box-foot1 p, .q6 .right .box .box-foot2 p, .q6 .right .box .box-foot3 p {
        font-size: 11px;
    }
    .q7 .left {
        padding: 30px;
    }
    .q8 {
        padding: 30px 15px;
    }
    .q8 .right .point-item .point-left span {
        font-size: 1rem;
    }
    .q8 .right .point-item .point-right {
        padding-left: 15px;
    }
    .q8 .right {
        margin-bottom: 30px;
    }
    
    .q10 {
        padding: 0 60px;
    }
    .q10 .left {
        padding: 0;
    }
    .q10 .left .answer .answer-item {
        margin: 0 30px 30px 30px;
    }
    .q10 .left .free-tw > div:last-child {
        padding: 30px 15px;
    }
    .talk .label {
        margin: 0 30px 30px 30px;
    }
    .talk {
        padding: 45px 30px;
    }

    
}
@media (max-width: 480px) { 
    #slide .book {
        bottom: -50%;
        max-width: 190px;
    }
    .section-info .info {
        padding: 150px 10px 0 10px;
    }
    #slide .txt {
        width: 320px;
        font-size: 1rem;
    }
    .section-info .info .label {
        font-size: 1.5rem;
    }
    .section-info .info-detail {
        padding: 60px;
    }
    .q1 .left {
        padding: 50px 15px;
    }
    .q1 .left .question {
        margin-bottom: 10px;
    }
    .q1 .left .answer, .q2 .right .answer, .q3 .left .answer, .q4 .left .answer, .q5 .right .answer,  .q6 .left .answer, .q7 .left .answer {
        font-size: 14px;
    }
    .youtube > div {
        margin: 0 15px;
    }
    .q2 .right {
        padding: 0 15px;
    }
    .q3 .left {
        padding: 0 15px;
    }
    .q4 {
        padding: 30px 15px;
    }
    .q5 .left img {
        max-width: 180px;
    }
    .q5 .right {
        padding: 30px 15px;
    }
    .q7 .left {
        padding: 15px;
    }
    .feedback {
        padding: 60px 15px 0 15px;
    }
    .feedback .box .box-body .box-item {
        font-size: 14px;
    }
    .feedback .box .box-body {
        padding: 30px 15px;
    }
    .feedback .box .box-head .baby {
        left: 8px;
    }
    .youtubes {
        padding: 30px 15px;
    }
    .youtubes h3 {
        margin-bottom: 15px;
    }
    .youtubes .list-youtube .box-youtube h5 {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .q8 .right {
        padding: 30px 15px;
    }
    .q8 .right .point-item .point-left span {
        font-size: 16px;
    }
    .q8 .right .point-item .point-right {
        font-size: 14px;
    }
    .q10 {
        padding: 0 15px;
    }
    .q10 .left .free-tw .label {
        font-size: 14px;
        width: 300px;
    }
    .talk {
        padding: 15px;
    }
    .talk .label {
        margin: 30px 0 30px 0;
    }
    .step .step-content .step1 {
        max-width: 100%;
    }
    .step {
        padding: 30px 15px 0 15px;
    }
    .footer img {
        max-width: 250px;
    }
    .footer p.copyright {
        font-size: 14px;
    }
    .talk .talk-boxs .talk-box-item img {
        height: 160px;
    }
    .feedback .box .box-body {
        padding: 45px 15px 15px 15px;  
    }
    .feedback .box .box-body .box-item .arrow {
        left: -10px;
    }
  
  
}

@media (max-width: 457px) {
    .q6 .right .box .box-foot1, .q6 .right .box .box-foot2, .q6 .right .box .box-foot3 {
        height: 55px;
    }
    .q6 .right .box .box-foot1 {
        padding: 12px 5px 5px 5px;
    }
    .q6 .right .box .box-foot1 p, .q6 .right .box .box-foot2 p, .q6 .right .box .box-foot3 p {
        font-size: 10px;
    }
    .youtubes .list-youtube .box-youtube h5 {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    #slide .book {
        bottom: -68%;
        max-width: 250px;
    }
    .section-info .info {
        padding: 120px 10px 0 10px;
    }
    .section-info .info-detail .box .head {
        text-align: left;
    }
    .q1 .left {
        padding: 20px 15px;
    }
    .feedback .box .box-head .baby {
        left: 8px;
    }   
    .qa .list-qa .qa-item .qa-head {
        padding: 10px;
    }
    .qa .list-qa .qa-item:nth-child(5) .qa-head p {
        line-height: inherit;
    }
    .qa .list-qa .qa-item:nth-child(7) .qa-head p {
        line-height: inherit;
    }
    .qa .list-qa .qa-item:nth-child(9) .qa-head p {
        line-height: inherit;
    }
    .qa .list-qa .qa-item:nth-child(10) .qa-head p {
        line-height: inherit;
    }
     /* .qa .list-qa .qa-item .qa-head p.length {
        line-height: inherit;
    }
    .qa .list-qa .qa-item .qa-head p {
        line-height: inherit;
    } */
    .q4 .left .answer {
        padding: 0 40px;
    }
    /* .q8 .right .point-item .point-left {
        flex: 0 75px;
    }
    .q8 .right .point-item .point-right {
        flex: 0 calc(100% - 75px);
    }
    .q8 .right .point-item .point-left span {
        font-size: 14px;
    } */
    .q8 .right .point-item .point-right {
        margin-top: -8px;
    }
    .q8 .right .point-item:nth-child(2) .point-right {
        margin-top: 0;
    }
   
}

@media (max-width: 320px) {
    .q1 .left {
        padding: 15px 15px;
    }
    .q6 .right .box .box-foot1, .q6 .right .box .box-foot2 {
        padding: 5px 5px 5px 5px;
    }
    .q6 .right .box .box-foot1, .q6 .right .box .box-foot2, .q6 .right .box .box-foot3 {
        height: 40px;
    }
    .q6 .right .box .box-foot1 p, .q6 .right .box .box-foot2 p, .q6 .right .box .box-foot3 p {
        font-size: 6px;
    }
}